body {
  background-color: cadetblue;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  color: blanchedalmond;
}

.dark-mode {
  background-color: rgb(36, 36, 36);
  color: whitesmoke;
}
